@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(./fonts/Roboto_Condensed-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(./fonts/Roboto_Condensed-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(./fonts/Roboto_Condensed-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(./fonts/Roboto_Condensed-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(./fonts/Roboto_Condensed-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url(./fonts/Roboto_Condensed-Black.ttf);
}

* {
  font-weight: 400;
  font-family: "Roboto", "Arial";
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  word-break: break-word;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.v-center {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header  */

.header {
  background: linear-gradient(
    270deg,
    rgb(46, 49, 146, 0.7) 0%,
    rgb(212, 20, 90, 0.7) 100%
  );
}

.header .container {
  height: 77px;
  justify-content: space-between;
}

.header-item-1 {
  gap: 12px;
}

.header-item-1 a {
  color: white;
  font-weight: 500;
  line-height: 10px;
}

.header-item-1 {
  gap: 8px;
}

.header-item-2 select {
  background: none;
  border: none;
  padding-right: 5px;
  font-weight: 500;
  line-height: 16px;
  color: white;
}

.header-item-3 {
  gap: 12px;
}

.header-item-3 a {
  color: white;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
}

.header-item-2 select option {
  background-color: black;
  overflow: scroll;
}

/* main */

.main {
  padding: 47px;
}

.mobile-bg {
  display: none;
}

.main-first {
  justify-content: space-between;
}

.main-first-left {
  gap: 11px;
}

.main-first span {
  font-weight: 900;
  font-style: italic;
  font-size: 36px;
}

.main-first-right a {
  color: #737373;
  font-weight: 300;
  font-style: 18px;
  line-height: 21px;
  text-decoration: none;
}

.main-first-right {
  gap: 20px;
}

.main-second {
  justify-content: space-between;
}

.main-second-left {
  align-items: flex-start;
}

.main-second-left h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  margin-bottom: 10px;
}

.main-second-left span {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 5px;
}

.main-second-left button {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  cursor: pointer;
  padding: 15px 40px;
  border: none;
  border-radius: 7px;
  background: linear-gradient(96deg, #b90160 0%, #2e3192 100%);
  line-height: 23px;
}

/* what-is-it */

.what-is-it {
  margin-bottom: 225px;
}

.what-is-it .title {
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  text-align: center;
}

.what-is-it-items {
  gap: 60px;
  margin-top: 120px;
}

.what-is-it-item {
  width: 33%;
  border-radius: 9px;
  box-shadow: 0 0 40px rgba(184, 0, 95, 0.2);
}

.what-is-it-item img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.what-is-it-footer {
  padding: 22px;
}

.what-is-it-footer h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.what-is-it-footer span {
  color: #767676;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

/* reviews */

.reviews {
  background: linear-gradient(
    270deg,
    rgb(46, 49, 146, 0.25) 0%,
    rgb(212, 20, 90, 0.25) 100%
  );
  padding: 100px 0 60px 0;
}

.reviews .container {
  gap: 60px;
}

.review {
  position: relative;
  background: white;
  border-radius: 9px;
  width: 33%;
  text-align: center;
  padding: 80px 30px 30px 30px;
}

.review img {
  position: absolute;
  width: 154px;
  top: -85px;
}

.review-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.review-line {
  width: 130px;
  height: 2px;
  background: linear-gradient(90deg, #b90160 0%, #2e3192 100%);
  border-radius: 8px;
  margin: 12px 0;
}

.review-name {
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  color: #8e8e8e;
}

/* footer */

.footer {
  padding: 180px 0 40px 0;
}

.footer .container {
  justify-content: space-around;
}

.footer-item {
  max-width: 225px;
}

.footer-item h3 {
  font-size: 14px;
  font-weight: 900;
  line-height: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-item-content a {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.footer-item-content span {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #000000;
  margin-bottom: 15px;
}

.footer-item-content select {
  background: none;
  border: none;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #000000;
}

/* adaptive style */

@media screen and (max-width: 768px) {
  .header-item-1 {
    min-width: 180px;
    visibility: hidden;
  }
  .header-item-2 {
    margin: auto;
  }
  .header-item-3 {
    min-width: 180px;
  }
  .main-first-right {
    display: none;
  }
  .main-second-left h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .main-second-left button {
    padding: 12px 14px;
    font-size: 15px;
    line-height: 18px;
  }
  .main-second img {
    width: 340px;
    height: 473px;
  }
  .main {
    height: 533px;
  }
  .main-second {
    position: absolute;
    top: 120px;
  }
  .what-is-it title {
    font-size: 40px;
    line-height: 47px;
    margin-top: 90px;
  }
  .what-is-it-items {
    flex-direction: column;
    align-items: center;
  }
  .what-is-it-item {
    width: 100%;
  }
  .what-is-it {
    margin-bottom: 120px;
  }
  .reviews .container {
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
  }
  .review {
    width: 100%;
  }
  .footer .container {
    padding: 0 45px;
  }
  .footer {
    padding-top: 90px;
  }
}

@media screen and (max-width: 650px) {
  .header .container {
    height: 75px;
    flex-direction: column;
    padding: 12px 0;
  }
  .header-item-1 {
    display: none;
  }
  .header-item-3 {
    min-width: 100%;
  }
  .main-second img {
    display: none;
  }
  .main-second-left h1 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
  .main-second-left span {
    font-size: 20px;
    line-height: 23px;
  }
  .main-first-left span {
    font-size: 18px;
    line-height: 21px;
  }
  .main-first-left img {
    width: 60px;
    height: 36px;
  }
  .main-first-left {
    margin-bottom: 38px;
  }
  .main {
    height: 100%;
    padding-top: 26px;
    position: relative;
  }
  .main-second {
    position: static;
  }
  .main-second-left {
    align-items: center;
  }
  .what-is-it title {
    font-size: 20px;
    line-height: 23px;
    width: 100%;
    margin-top: 50px;
  }
  .container {
    padding: 0 25px;
  }
  .what-is-it-items {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .what-is-it-footer h1 {
    font-size: 30px;
  }
  .reviews .container {
    padding: 0 25px;
  }
  .review-text {
    font-size: 12px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-item-content {
    align-items: center;
  }
  .footer-item-content soan {
    text-align: center;
  }
  .mobile-bg {
    display: block;
    position: absolute;
    top: 80px;
    object-fit: cover;
    width: 100%;
  }
}
